<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Investor Registration</title>

 
    <!-- Main css -->
    <link rel="stylesheet"  media="all" href="../Frontend/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <div class="signup-img-content">
                        <h2>Register now </h2>
                    </div>
                </div>
                <div class="signup-form">
                    <form action="/investorDataSave" method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">E-Mail</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="form-input">
                                    <label for="password" class="required">Password</label>
                                    <input type="password" name="password" id="password" />
                                </div>
                                <div class="form-input">
                                    <label for="technology" class="required">Technology</label>
                                    <input type="text" name="technology" id="technology" />
                                </div>
                        
                                <div class="form-input">
                                    <label for="Investor_Type" class="required">Investor_Type</label>
                                    <input type="text" name="Investor_Type" id="Investor_Type" />
                                </div>
                                <div class="form-input">
                                    <label for="Year_of_Establishment" class="required">Year_of_Establishment</label>
                                    <input type="number" name="Year_of_Establishment" id="Year_of_Establishment" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                        <label for="Employee_count"class="required">Employee_Count</label>
                                        <input type="number" name="Employee_count" id="Employee_count" />
                                    </div>
                                    <div class="form-input">
                                        <label for="headquaters" class="required">HeadQuaters</label>
                                        <input type="text" name="headquaters" id="headquaters" />
                                    </div>
                                    <div class="form-input">
                                        <label for="website" class="required">Website</label>
                                        <input type="text" name="website" id="website" />
                                    </div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                            <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="vendor/wnumb/wNumb.js"></script>
    <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="js/main.js"></script> -->
</body>
</html>