.borderr {
  border: 2px solid #008080;
  border-radius: 2rem;
  width: 18rem;
  height: 22rem;
  box-shadow: 0px 0px 2px #008080;
}

.btn1 {
  left: 3.8rem;
}
.btn2 {
  left: 4.5rem;
}

.btn3 {
  left: 4.8rem;
}

.btn4 {
  left: 3.2rem;
}

.btn--cards:hover {
  box-shadow: 0px 0px 3px #008080;
  color: #008080 !important;
  background-color: white !important;
}
