.flex-container {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fundings-title {
  font-size: 40px;
  font-weight: 600;
  color: #e9601b;
}
