.borderr {
  border: 2px solid #e9601b;
  border-radius: 2rem;
  width: 18rem;
  height: 22rem;
  box-shadow: 0px 0px 2px #e9601b;
  background-color: rgb(233, 96, 27, 0.1);
}

.btn1 {
  margin: 2rem 2rem;
}
.btn2 {
  margin: 2rem 2rem;
}

.btn3 {
  margin: 2rem 2rem;
}

.btn4 {
  margin: 2rem 2rem;
}

.btn--cards:hover {
  box-shadow: 0px 0px 3px #e9601b;
  color: #e9601b !important;
  background-color: white !important;
}
.imgg {
  height: 3rem;
  border-radius: 50%;
  width: 3rem;
  background-color: #e9601b;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
