
.heading {
    margin-top: 7.5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: #d2631f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boxx {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 15rem;
    background-color: #d2631f;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    margin-bottom: 1.5rem;
}

.card-info {
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
    text-decoration: none;
}

.card-info:hover {
    scale: 1.02;
    cursor: pointer;
    color: #d2631f;
    background-color: white;
    border: 1.5px solid #d2631f;
    box-shadow: 0 0 6px #d2631f;
}