.bgcolor {
  background-color: #66f3f321;
  color: rgb(15, 14, 13);
}
.imgg {
  box-shadow: 4px 4px 3px black;
  height: 15rem;
}

.investmentInfo {
  color: #008080;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 00;
}

.investmentInfoTitle {
  color: black;
}

.title {
  padding-top: 6rem;
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  color: #008080;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btn--investors {
  position: relative;
  margin: 2rem;
}

.btn--investors:link,
.btn--investors:visited {
  color: #008080;
  text-decoration: none;
  font-size: 25px;
}

.btn--investors:hover,
.btn--investors:active {
  text-decoration: none;
}

.btn--investors::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  transition: all 0.5s;
}

.btn--investors:hover::after {
  background: #008080;
}
