.borderr {
  /* border: 1px solid black; */
  border-radius: 2rem;
  width: 18rem;
  height: 22rem;
  box-shadow: 0px 0px 6px black;
  background-color: rgba(211, 211, 211, 0.074);
}

.btn1 {
  margin: 2rem 2rem;
  left: 3.4rem;
}
.btn2 {
  margin: 2rem 2rem;
  left: 3.4rem;
}

.btn3 {
  margin: 2rem 2rem;
  left: 3.4rem;
}

.btn4 {
  margin: 2rem 2rem;
  left: 3.4rem;
}

.btn--cards:hover {
  box-shadow: 0px 0px 3px #d2631f;
  color: #d2631f !important;
  background-color: white !important;
}
.imgg {
  height: 3rem;
  border-radius: 50%;
  width: 3rem;
  background-color: #d2631f;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
