.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fundings-title {
  margin-top: 5rem;
  font-size: 40px;
  font-weight: 600;
  color: #d2631f;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.iprInfo {
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button {
  position: relative;
}

.button:link,
.button:visited {
  color: #d2631f;
  text-decoration: none;
  font-size: 25px;
}

.button:hover,
.button:active {
  text-decoration: none;
}

.button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  transition: all 0.5s;
}

.button:hover::after {
  background: #d2631f;
}
