.navbar {
  background-color: #d2631f;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.258);
}

/* Navbar Items : Startups, research, ipr, investment */

.navItem:hover {
  background-color: white;
  color: #d2631f !important;
  border-radius: 8px;
}

/* Buttons - Login As & Search */

.nav-container {
  display: flex;
  font-weight: "500";
  gap: 2rem;
  font-size: 1.4rem;
}

.button:hover {
  color: #d2631f !important;
  background-color: white;
}

@media (max-width: 169.125em) {
  .nav-container {
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.6rem;
  }
}

@media (max-width: 61.9375em) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
