.button {
    position: absolute;
    margin-top: 3rem;
    margin-left: 38rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button:link,
.button:visited {
    color: #008080;
    text-decoration: none;
    font-size: 25px;
}

.button:hover,
.button:active {
    text-decoration: none;
}

.button::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    transition: all 0.5s;
}

.button:hover::after {
    background: #008080;
}