.startup-container {
  margin-top: 100px;
}

.sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  color: #e9601b;
  margin: 30px;
}

.button {
  background-color: #e9601b;
  border: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 20px;
  font-weight: 500;
}

.button:hover {
  background-color: #8c3a10;
}
