.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;

  /* background image */
}

.startup-title {
  margin-top: 5rem;
  font-size: 40px;
  font-weight: 600;
  color: #d2631f;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.startup-info {
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}