form{
  margin: 0 auto; /* Center the form horizontally */
  position: relative; /* To position it centrally */
  top: 50%; /* Push the form down to the middle of the page */
  transform: translateY(-50%); /* Center it vertically */
  background-color: white; /* Form background color */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Dark shadow effect from all sides */
  border-radius: 10px; /* Optional: Rounded corners */
}
display-flex, .signup-content, .form-row, .label-flex, .form-radio-group {
  display: flex;
  display: -webkit-flex; }
  
/* @extend list-type-ulli; */
list-type-ulli, ul {
list-style-type: none;
margin: 0;
padding: 0; }

/* poppins-300 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
src: url("../fonts/poppins/poppins-v5-latin-300.eot");
/* IE9 Compat Modes */
src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
font-family: 'Poppins';
font-style: italic;
font-weight: 300;
src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
/* IE9 Compat Modes */
src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
/* IE9 Compat Modes */
src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
font-family: 'Poppins';
font-style: italic;
font-weight: 400;
src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
/* IE9 Compat Modes */
src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
src: url("../fonts/poppins/poppins-v5-latin-500.eot");
/* IE9 Compat Modes */
src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
font-family: 'Poppins';
font-style: italic;
font-weight: 500;
src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
/* IE9 Compat Modes */
src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
src: url("../fonts/poppins/poppins-v5-latin-600.eot");
/* IE9 Compat Modes */
src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
src: url("../fonts/poppins/poppins-v5-latin-700.eot");
/* IE9 Compat Modes */
src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
font-family: 'Poppins';
font-style: italic;
font-weight: 700;
src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
/* IE9 Compat Modes */
src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
src: url("../fonts/poppins/poppins-v5-latin-800.eot");
/* IE9 Compat Modes */
src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
font-family: 'Poppins';
font-style: italic;
font-weight: 800;
src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
/* IE9 Compat Modes */
src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
/* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 900;
src: url("../fonts/poppins/poppins-v5-latin-900.eot");
/* IE9 Compat Modes */
src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
/* Legacy iOS */ }
a:focus, a:active {
text-decoration: none;
outline: none;
transition: all 300ms ease 0s;
-moz-transition: all 300ms ease 0s;
-webkit-transition: all 300ms ease 0s;
-o-transition: all 300ms ease 0s;
-ms-transition: all 300ms ease 0s; }

input, select, textarea {
outline: none;
appearance: unset !important;
-moz-appearance: unset !important;
-webkit-appearance: unset !important;
-o-appearance: unset !important;
-ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
appearance: none !important;
-moz-appearance: none !important;
-webkit-appearance: none !important;
-o-appearance: none !important;
-ms-appearance: none !important;
margin: 0; }

input:focus, select:focus, textarea:focus {
outline: none;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
-o-box-shadow: none !important;
-ms-box-shadow: none !important; }
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2631f; 
 }
 input[type="text"], input[type="email"], input[type="password"],input[type="number"] {
  font-weight: bold; /* Bold text inside input fields */
  border: 2px solid black; /* Make the input border bolder */
  padding: 10px; /* Optional: Add some padding for better appearance */
  border-radius: 5px; /* Optional: Add rounded corners */
}


.main {
position: relative; }
.register-form {
padding: 93px 115px 90px 80px;
margin-bottom: -8px;
} 
.container {
background: #fff;
padding: 0 0 0 0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100% }



.signup-form {
width: 1015px;
margin-top: -2px; }

.form-row {
margin: 0 -30px; }
.form-row .form-group {
  width: 50%;
  padding: 0 30px; }

.form-input, .form-select, .form-radio {
margin-bottom: 23px; }

label, input {
display: block;
width: 170%; }

label {
font-weight: bold;
text-transform: uppercase;
margin-bottom: 7px; }

label.required {
position: relative; }
label.required:after {
  content: '*';
  margin-left: 2px;
  color: #b90000; }

input {
box-sizing: border-box;
border: 1px solid d2631f;
padding: 14px 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
font-size: 14px;
font-family: 'Poppins'; }
input:focus {
  border: 1px solid #d2631f; }

.label-flex {
justify-content: space-between;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-o-justify-content: space-between;
-ms-justify-content: space-between; }
.label-flex label {
  width: auto; }

  .form-submit {
    text-align: center;
    margin: -48px -35px 13px 350px;
    height: 50px;
   width:150px;
   
  } 
  
  .submit {
    width: 150px;
    height: 50px;
    display: inline-block;
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    #demo{
      color: white;
    }
    .register {
      width: 150px;
      height: 50px;
      display: inline-block;
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px; }

    #submit {
        background: #d2631f;
        color: #fff;
        margin-right: -25px; 
    }
    #register {
      background: #d2631f;
      color: #fff;
      margin-right: -25px; 
  }
    #submit:hover {
        background-color: #d2631f; }
    
    .form-input {
      position: relative; }
    
    label.error {
      display: block;
      position: absolute;
      top: 0px;
      right: 0; }
      label.error:after {
        font-family: 'Material-Design-Iconic-Font';
        position: absolute;
        content: '\f1f8';
        right: 20px;
        top: 37px;
        font-size: 23px;
        color: #c70000; }
        .form{
          font-size: 14px;
          font-family: 'Poppins';
          color: white;
          text-align: center;
          text-decoration: none;
          
        }
        button{
          width: 150px;
          height: 50px;
          background-color: #d2631f;
          border: none;
          cursor: pointer;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          
        }

        @media screen and (max-width: 1024px) {
            .container {
              width: calc( 100% - 30px);
              max-width: 100%;
              margin: 0 auto; }
          
            .signup-img {
              display: none; }
          
            .signup-form {
              width: 100%; }
          
            .register-form {
              padding: 93px 80px 90px 80px; } }
          @media screen and (max-width: 992px) {
            .signup-content {
              width: 100%; }
          
            .form-radio-item {
              margin-right: 15px; }
          
            .register-form {
              padding: 93px 30px 90px 30px; } }
          @media screen and (max-width: 768px) {
            .form-row {
              flex-direction: column;
              -moz-flex-direction: column;
              -webkit-flex-direction: column;
              -o-flex-direction: column;
              -ms-flex-direction: column;
              margin: 0px; }
          
            .form-row .form-group {
              width: 100%;
              padding: 0 0px; } }
          @media screen and (max-width: 480px) {
            .submit {
              width: 100%;
            margin-right:10px ; }
          
            #submit {
              margin-bottom: 20px;
              margin-right: 0px; }
          
            .form-radio-group {
              flex-direction: column;
              -moz-flex-direction: column;
              -webkit-flex-direction: column;
              -o-flex-direction: column;
              -ms-flex-direction: column; } }