.container {
  display: flex;
  flex-direction: column;
}

.menuItems {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  box-shadow: 0px 0px 1px black;
  text-decoration: none !important;
  color: black;
}

.links {
  text-decoration: none;
}

.active {
  background-color: #95a5a6;
  color: white;
}
