.flex-containerr {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 3rem 0 3rem;
}

.featured-titlee {
  font-size: 34px;
  font-weight: 500;
  color: #d2631f;

  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.info {
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
