.flex-containerr {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.startup-titlee {
  font-size: 34px;
  font-weight: 500;
  color: #008080;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
}

.startupInfoo {
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3rem;
}

.subContainer {
  padding: 0 5rem 0 5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
